{% extends 'rentals/base.html' %}

{% block title %}Edytuj Profil{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-light">Edytuj swój profil</h2>
    <form method="post" enctype="multipart/form-data" class="bg-dark p-4 rounded">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_username" class="form-label text-light">Nazwa użytkownika</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label for="id_email" class="form-label text-light">Email</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="id_nickname" class="form-label text-light">Pseudonim</label>
            {{ form.nickname }}
        </div>

        <div class="mb-3">
            <label for="id_profile_picture" class="form-label text-light">Zdjęcie profilowe</label>
            {{ form.profile_picture }}
        </div>

        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>
{% endblock %}
